<h1>home</h1>



<form ng-submit="vm.addNewPet()">
    <input type="text" ng-model="vm.nameIn" placeholder="Pet's Name">
    <input type="text" ng-model="vm.typeIn" placeholder="Type of Animal">
    <input type="text" ng-model="vm.notesIn" placeholder="Notes">
    <select id="addNewChickIn" ng-model="vm.checkIn">
        <option value="">---Check In Now?---</option> <!-- not selected / blank option -->
        <option value="true">Yes</option> <!-- interpolation -->
        <option value="false">no</option>
    </select>
    <input type="text" ng-model="vm.ownerPin" placeholder="Owner ID Num.">
    <button>Submit</button>
</form>