<h1>Trainer Profile</h1>

<!-- <form ng-submit="vm.addNewOwner()">
    <input ng-model="vm.firstNameIn" placeholder="First Name">
    <input ng-model="vm.lastNameIn" placeholder="Last Name">
    <button>Submit</button>
</form> -->

<ul>
    <li ng-repeat="person in vm.ownerArray">{{person.name_first}} {{person.name_last}}</li>
</ul>

<md-button class="md-primary md-raised" ng-click="vm.showPrompt($event)"  >
        Add New Trainer
      </md-button>
      {{vm.status}}

<table>
    <thead>
        <tr></tr>
        <tr></tr>
    </thead>
</table>